/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #0c1b35 transparent;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #0c1b35;
    border-radius: 20px;
    border: 3px solid #FE7203;
  }
  