* {
    box-sizing: border-box;
    margin: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #fe7203;
    color: #0c1b35;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}
img {
    height: 20px;
    width: auto;
}






main section {
    width: 500px;
    margin: 10px auto;
    border: 1px solid #0c1b35;
    border-bottom: 5px solid #0c1b35;
    border-radius: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
/* Need to add media query to this section */
.sec-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e96901;
    padding: 10px;
}
.sec-top h2, 
.sec-top img {
    display: inline-block;
}
.sec-low {
    padding: 20px;
    display: none;
    text-align: left;
}
section.active .sec-low { 
    display: block;
}
section.active .sec-top img {
    transform: rotate(180deg);
}

.svg {
    position: absolute;
    bottom: 0;
    left: 10%;
    height: 40%;
}
.svg img {
    height: 100%;
}