* {
    box-sizing: border-box;
    margin: 0;
    outline: 0px solid white;
}
body {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    background: black;
    color: lightgrey;
}
a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
ul,
li {
    list-style: none;
    padding-left: 0;
}
img {
    height: 100%;
}










header {
    height: 100vh;
    width: 100vw;
    padding: 20vh 25vw;
    margin: -1px auto 0 auto;
    background-color: #FE7202;
}
/*.svg-cont {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    animation: svganimation 10s ease-in-out infinite;
}
.svg-cont img {
    width: 100%;
}
@keyframes svganimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.95);
    }   
    100% {
        transform: scale(1);
    }
}*/
.intro-card {
    position: relative;
    z-index: 2;
    /*width: 60vh;
    height: 40vh;
    margin: 20vh auto;*/
    height: 100%;
    padding: 30px;
    color: #0C1B35;
    background-color: #04D37C;
    box-shadow: 10px 10px #0C1B35;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 550px) {
    .intro-card {
       /* width: 80vw;
        height: 90vw;
        max-height: 400px;
        min-height: 300px;
        margin: 20vh auto */
    }
    header {
        padding: 40;
    }
}
@media screen and (max-width: 375px) {
    .intro-card {
        margin: 21vh auto;
        padding: 5px;

    }
}
.github,
.email,
.linkedin {
    margin: 10px;
    display: inline-block;
}
.github .imgcont {
    background: url(https://img.icons8.com/ios-filled/50/000000/github.png);
    height: 25px;
    width: 25px;
    margin: auto;
    background-size: contain;
}
.email .imgcont {
    background: url(https://img.icons8.com/ios-filled/50/000000/mail.png);
    height: 25px;
    width: 25px;
    margin: auto;
    background-size: contain;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: snow;
    border: 1px solid black;
    border-radius: 50%;
}
.linkedin .imgcont {
    background: url(https://img.icons8.com/ios-filled/50/000000/linkedin-circled.png);
    height: 25px;
    width: 25px;
    margin: auto;
    background-size: contain;
    background-size: 82%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: snow;
    border: 1px solid black;
    border-radius: 50%;
}





















main {
    padding: 150px 50px;
    background-color: #0C1B35;
}
.skill-cont {
    background-color: rgba(255, 214, 3, 1); /* rgba(255, 214, 3, 1) */
    width: 50%;
    margin: 0 auto;
    padding: 100px 50px;
    border-radius: 10px;
}

.skill-cont h2 {
    color: black;
    /*color: #FE7202;*/
    margin-bottom: 25px;
    font-weight: bold;
}
.skill-cont .img-wrapper {
    min-height: 50px;
    margin: 0px auto; /* you might wanna decrease this by 10px*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.skill-cont .img-wrapper .img-cont {
    margin: 7px 10px; /* this affects 7 lines above */
    height: 40px;
    width: 40px;
    border-radius: 50%;
    outline: 2px solid grey;
    border: 3px solid darkgrey;
    background-color: lightgrey;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}
.img-wrapper .one {
    background: url(https://img.icons8.com/ios/50/000000/html-5--v2.png);
}
.img-wrapper .two {
    background: url(https://img.icons8.com/ios/50/000000/css3.png);
}
.img-wrapper .three {
    background: url(https://img.icons8.com/ios/50/000000/javascript--v1.png);
}
.img-wrapper .four {
    background: url(https://img.icons8.com/ios/50/000000/jquery.png);
}
.img-wrapper .five {
    background: url(https://img.icons8.com/ios/50/000000/sass.png);
}
.img-wrapper .six {
    background: url(https://img.icons8.com/ios/50/000000/react-native--v1.png);
}
.img-wrapper .seven {
    background: url(https://img.icons8.com/ios/50/000000/redux.png);
}
.img-wrapper .eight {
    background: url(https://img.icons8.com/carbon-copy/100/000000/canva.png);
}
.img-wrapper .nine {
    background: url(https://img.icons8.com/windows/64/000000/bootstrap.png);
}
.img-wrapper .ten {
    background: url(https://img.icons8.com/ios/64/000000/git.png);
}
.img-wrapper .eleven {
    background: url(https://img.icons8.com/ios/50/000000/figma--v1.png);
}
.img-wrapper .twelve {
    background: url(https://img.icons8.com/ios/50/000000/adobe-xd--v1.png);
}
.img-wrapper .thirteen {
    background: url(https://img.icons8.com/ios/50/000000/github--v1.png);
}
@keyframes imganimation {
    50% {
        transform: rotate(180deg);
        background-color: tomato;
    }
    100% {
        transform: rotate(360deg);
        background-color: tomato;
    }
}


main .catelog-cont {
    background-color: rgba(255, 214, 3, 1);
    width: 80%;
    border-radius: 10px;
    margin: 125px auto 0 auto;
    padding: 100px 0;
}
main .pagelink {
    display: inline-block;
    height: 350px;
    width: 300px;
    margin: 50px;
    padding: 10px;
    background: #FE7202;
    border: 1px solid black;
    transition: all .4s ease-in-out;
}
@media screen and (max-width: 550px) {
    main {
        padding: 150px 15px;
    }
    main .skill-cont {
        width: 100%;
    }
    main .catelog-cont {
        width: 100%;
    }
    main .pagelink {
        display: block;
        height: 275px;
        width: 225px;
        margin: 75px auto;
    }
}

@media screen and (max-width: 375px) {

}
main .pagelink:hover {
    transform: translateY(-20px);
    box-shadow: 10px 10px black;
}


.pagelink .title {
    width: 80%;
    height: 15%;
    margin: 0 auto;
    padding: 0px 20px;
    color: black;
    border: 1px solid black;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}.pagelink .title img {
    height: 25px;
    margin-left: 10px;
}
.pagelink .svg-cont {
    width: 80%;
    height: 80%;
    margin: 20px auto;
    border: 1px solid white;
}
.pagelink .svg-cont img {
    width: 100%;
}