* {
    box-sizing: border-box;
    margin: 0;
    outline: 0px solid white;
}
body {
    position: relative;
    z-index: 1;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    background: black;
    color: lightgrey;
}
a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
ul,
li {
    list-style: none;
    padding-left: 0;
}
img {
    height: 100%;
}











header {
    height: 100vh;
    width: 100vw;
    padding: 20vh 25vw;
    background-color: #FE7202;
}


header .svg-cont {
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: repeat-y;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    max-height: 100vh;
    animation: svganimation 6s linear 2.75s forwards;
    overflow: hidden;
}
@keyframes svganimation {
    0% {
        transform: scale(1.25);
    }  
    100% {
        transform: scale(1);
    }
}
@media screen and (min-width: 425px) {
    header #svg-cont-mobile {
        display: none;
    }
    header #svg-cont-desktop {
        display: block;
        background-image: url('../img/dark\ blue\ &\ lightgrey\ spots\ 4\ background.svg')

    }
}
@media screen and (max-width: 425px) {
    header #svg-cont-desktop {
        display: none;
    }
    header #svg-cont-mobile {
        display: block;
        background-image: url('../img/header-svg-mobile.svg')
    }
}


.intro-card {
    position: relative;
    z-index: 2;
    /*width: 60vh;
    height: 40vh;
    margin: 20vh auto;*/
    
    padding: 50px 30px;
    color: black;
    background-color: inherit;
    box-shadow: -12.5px -12.5px #e96901; /*#e96901ce*/
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro-card h1,
.intro-card h2,
.intro-card .links-wrapper {
    margin: 10px auto;
}
.intro-card h2{
    animation: opacity-change 4s ease forwards;
    font-weight: 800;
}
@keyframes opacity-change {
    0% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
@media screen and (max-width: 550px) {
    .intro-card {
       /* width: 80vw;
        height: 90vw;
        max-height: 400px;
        min-height: 300px;
        margin: 20vh auto */
    }
    header {
        padding: 40;
    }
}
@media screen and (max-width: 375px) {
    .intro-card {
        margin: 21vh auto;
        padding: 5px;

    }
}
.links-wrapper {
    cursor: pointer;
    border-top: 2px solid black;
}
.github,
.email,
.linkedin {
    width: 75px;
    margin: 10px 0px;
    padding: 10px 10px 7px 10px; 
    display: inline-block;
    border-bottom: 3px solid transparent;
    transition: all .3s linear;
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
}
.github .imgcont {
    background: url(https://img.icons8.com/ios-filled/50/000000/github.png);
    height: 25px;
    width: 25px;
    margin: auto;
    background-size: contain;
}
.email .imgcont {
    background: url(https://img.icons8.com/ios-filled/50/000000/mail.png);
    height: 25px;
    width: 25px;
    margin: auto;
    background-size: contain;

}
.linkedin .imgcont {
    background: url(https://img.icons8.com/ios-filled/50/000000/linkedin-circled.png);
    height: 25px;
    width: 25px;
    margin: auto;
    background-size: contain;
}
.github:hover, 
.email:hover,
.linkedin:hover {
    border-bottom: 3px solid black;
    background-color: #e96901; /*#e96901*/
}




















main {
    position: relative;
    z-index: 2;
    padding: 300px 50px 150px 50px;
    background-color: #0C1B35;
    border-top: 1px solid snow;
}
/*main .style-svg-cont {
    position: absolute;
    z-index: -1;
    left: 0;
    top: -0vh;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/orange\ strip.svg');
    z-index: 5; 
}*/
.skill-cont {
    background-color: rgb(0, 0, 0, .2); /* rgba(255, 214, 3, 1) */
    width: 70%;
    margin: 0 auto;
    padding: 100px 50px;
    border-radius: 5px;
    border: 1px solid #FE7202;
}

.skill-cont h2 {
    width: 50%;
    line-height: 75px;
    color: #FE7202;
    border-bottom: 2px solid snow;
    /*text-decoration: underline snow;*/
    margin: 0px auto 25px auto;
    font-weight: bold;
}
.skill-cont .img-wrapper {
    min-height: 50px;
    margin: 0px auto; /* you might wanna decrease this by 10px*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.skill-cont .img-wrapper .img-cont {
    margin: 7px 10px; /* this affects 7 lines above */
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid grey;
    background-color: lightgrey;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}
.img-wrapper .one {
    background: url(https://img.icons8.com/ios/50/000000/html-5--v2.png);
}
.img-wrapper .two {
    background: url(https://img.icons8.com/ios/50/000000/css3.png);
}
.img-wrapper .three {
    background: url(https://img.icons8.com/ios/50/000000/javascript--v1.png);
}
.img-wrapper .four {
    background: url(https://img.icons8.com/ios/50/000000/jquery.png);
}
.img-wrapper .five {
    background: url(https://img.icons8.com/ios/50/000000/sass.png);
}
.img-wrapper .six {
    background: url(https://img.icons8.com/ios/50/000000/react-native--v1.png);
}
.img-wrapper .seven {
    background: url(https://img.icons8.com/ios/50/000000/redux.png);
}
.img-wrapper .eight {
    background: url(https://img.icons8.com/carbon-copy/100/000000/canva.png);
}
.img-wrapper .nine {
    background: url(https://img.icons8.com/windows/64/000000/bootstrap.png);
}
.img-wrapper .ten {
    background: url(https://img.icons8.com/ios/64/000000/git.png);
}
.img-wrapper .eleven {
    background: url(https://img.icons8.com/ios/50/000000/figma--v1.png);
}
.img-wrapper .twelve {
    background: url(https://img.icons8.com/ios/50/000000/adobe-xd--v1.png);
}
.img-wrapper .thirteen {
    background: url(https://img.icons8.com/ios/50/000000/github--v1.png);
}
@keyframes imganimation {
    50% {
        transform: rotate(180deg);
        background-color: tomato;
    }
    100% {
        transform: rotate(360deg);
        background-color: tomato;
    }
}


main .catelog-cont {
    background-color: rgb(0, 0, 0, .2); /* #0F2242 */
    border: 1px solid #FE7202;
    width: 70%;
    border-radius: 5px;
    margin: 125px auto 0 auto;
    padding: 100px 0;
}
main .pagelink {
    display: inline-block;
    height: 350px;
    width: 300px;
    margin: 50px;
    padding: 10px;
    background: #FE7202;
    border: 1px solid black;
    transition: all .4s ease-in-out;
}
@media screen and (max-width: 550px) {
    main {
        padding: 150px 10px;
    }
    main .skill-cont {
        width: 100%;
    }
    main .catelog-cont {
        width: 100%;
        margin: 50px auto 0 auto;
        padding: 25px 0;
    }
    main .pagelink {
        display: block;
        margin: 75px auto;
    }
}

@media screen and (max-width: 375px) {

}
main .pagelink:hover {
    transform: translateY(10px);
    box-shadow: -10px -10px #e96901;
}


.pagelink .title {
    width: 80%;
    height: 15%;
    margin: 0 auto;
    padding: 0px 20px;
    color: black;
    border: 1px solid black;
    background-color: #ffd603;
    display: flex;
    align-items: center;
    justify-content: center;
}.pagelink .title img {
    height: 25px;
    margin-left: 10px;
}
.pagelink .svg-cont {
    width: 225px;
    height: 225px;
    background-color: #0C1B35;
    border-radius: 50%;
    margin: 20px auto;
    border: 4px solid snow;
}
.pagelink .svg-cont img {
    width: 130%;
    margin: 0 auto;
    position: relative;
    left: -15%;
}
































#pageloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1001;
    background-color: #fe7203;
    animation: pageloader 3s linear forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes pageloader {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}
.loader-1,
.loader-2,
.loader-3 {
    height: 15px;
    width: 15px;
    margin: 10px;
    border-radius: 50%;
    outline: none;
}
@keyframes loaderanimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
.loader-1 {
    animation: loaderanimation 1s ease-in-out .33s infinite;
    background-color: #0C1B35;
}
.loader-2 {
    animation: loaderanimation 1s ease-in-out .66s infinite;
    background-color: #04d37c;
}
.loader-3 {
    animation: loaderanimation 1s ease-in-out .99s infinite;
    background-color: #ffd603;
}