.react {
    background-color: #61dbfb;
}
.vue {
    background-color: #41b883;
}
.js {
    background-color: #f7df1e;
}
.ts {
    background-color: #007acc;
}
.html {
    background-color: #e34f26;
}
.sass {
    background-color: #c69;
}
.css {
    background-color: #264de4;
}
.design-proto {
    background-color: black;
}