@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&family=Raleway:wght@200;300;400;500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  background: #0a0908;
  color: #fff8f0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Hiding the scrollbar while allowing scroll */
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}